<div class="mainInputDiv">
<div class="inputDiv">

    <mat-form-field class="example-full-width">
        <mat-label>Memo Titel</mat-label>
        <input matNativeControl="text" matInput placeholder="Titel des Memos" [(ngModel)]="title">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput placeholder="Beschreibung des Memos" [(ngModel)]="description"></textarea>
      </mat-form-field>

  <div>
    <button mat-raised-button color="primary" (click)="addNote()">Neues Memo speichern</button>
    
    </div>
</div>
</div>
