<div class="noteContainer">
  <mat-card *ngFor="let note of notes; let i = index">
    <mat-card-content>
      <mat-card-title> {{ note.title }}</mat-card-title>
      <mat-card-content>{{ note.description }}</mat-card-content>
      <!-- <button (click)="deleteNote(memo)">Delete</button> -->
    </mat-card-content>
    <div class="delete-container">
      <div class="example-button-container">
        <button
          (click)="deleteNote(note)"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>

  
</div>
